@font-face {
font-family: "Movement";
font-style: normal;
font-weight: 400;
src: url('/font/Movement/Movement-IndirectBlack.woff');
}

body {
  background-color: #EFEBD7;
}

h1 {
  font-family: "Movement";
  text-align: center;
  color: #4A4040;
  font-size: 1rem;
  padding-top: 4vw;
  padding-bottom: 2vw;
}

h2 {
  font-family: "Movement";
  text-align: center;
  color: #4A4040;
  font-size: 4rem;
  margin-bottom: 8vw;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  font-family: "Movement";
  text-align: center;
  text-decoration: none;
  color: #D5CB9E;
  font-size: 0.75rem;
  padding: 1vw;
  background-color: #4A4040;
  border-radius: 50px;
  width: 10vw;
}

a:hover {
  color: #4A4040;
  text-decoration: underline;
  background-color: #FF6B6B;
}

.animated-box{
  background-color:#4A4040;
  width: 1em;
  height: 1em;
  margin-bottom: 10vw;
  animation-duration: 3s;
  animation-name: appearIn;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
@keyframes appearIn{
  0% {
    transition: all 1s ease;
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.2) translateX(400px);
    border-radius: 300px;
    opacity: 1;
  }
  100% {
    transform: scale(1)translateX(800px) rotate(45deg);
    border-radius: 0%;

  }
}
