@font-face {
font-family: "Movement";
font-style: normal;
font-weight: 400;
src: url('/font/Movement/Movement-DirectThin.woff');
}

:root{
--main-color: #191818;
--fruit-color: #ECFFB0;
--legume-color: #E5D0E3;
--other-color: #FFFFFF;
--main-typo: 1rem;

}

body {
  background: var(--main-color);
}

/* Début header */
.header h1 {
  font-family: "Movement";
  text-align: center;
  color: var(--fruit-color);
  font-size: 0.75rem;
  padding-top: 2vw;
  padding-bottom: 1vw;
}

.header h2 {
  font-family: "Movement";
  text-align: center;
  color: var(--other-color);
  font-size: 3rem;
  margin-bottom: 3vw;
}

.introduction p {
  font-family: "Movement";
  text-align: center;
  color: var(--other-color);
  font-size: var(--main-typo);
  margin-bottom: 3vw;
  line-height: 1.5rem;

}
/* Fin header */

/* Grid */
#letter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px ;
  grid-gap: 20px;
  clear : left;
  font-family: "Movement";
  margin: 0 auto;
  flex-basis: 1200px;
  border-radius: 5%;
  background-position: center;
  background-repeat: no-repeat;
}

/* Début Filter */
main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (max-width: 640px){
  .filter_link{
    width: 20%;
  }
}

.filter_link {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "Movement";
  margin-bottom: 20px;
  flex-basis: 33vw;
  flex-shrink: 1;
  padding: 5px 0px;
}

.filter_link[data-filter="all"]{
  color: var(--main-color);
  display: flex;
  justify-content: center;
}

.filter_link[data-filter="fruit"]{
  color: var(--main-color);
  display: flex;
  justify-content: center;
}

.filter_link[data-filter="legume"]{
  color: var(--main-color);
  display: flex;
  justify-content: center;
}

.filter_link[data-filter="all"] span {
    background-color: var(--other-color);
    width: 10vw;
    display: block;
    border-radius: 50px;
}

.filter_link[data-filter="fruit"] span {
  background-color: var(--fruit-color);
  width: 10vw;
  display: block;
  border-radius: 50px;
}

.filter_link[data-filter="legume"] span {
  background-color: var(--legume-color);
  width: 10vw;
  display: block;
  border-radius: 50px;
}
/* Filter */

/* Début design des blocs de lettres */
main div{
 text-align: center;
 padding: 5vw;
}

main h3{
font-weight: 400;
font-size: 5rem;
}

main p{
font-size: 0.75rem;
margin-top: 0.75vw;
}

#letter a {
  text-decoration: none;
  color: var(--other-color);
}

#letter a:hover {
  text-decoration: none;
  color: var(--main-color);
}

/* Fin design des blocs de lettres */

/* Début images de chaque lettre */
.avocat {
  background-image: url(../photos/avocat.jpg);
}

.banane {
  background-image: url(../photos/banane.jpg);
}

.concombre {
  background-image: url(../photos/concombre.jpg);
}

.datte {
  background-image: url(../photos/datte.jpg);
}

.epinard {
  background-image: url(../photos/epinard.jpg);
}

.fraise {
  background-image: url(../photos/fraise.jpg);
}

.grenade {
  background-image: url(../photos/grenade.jpg);
}

.hernandia {
  background-image: url(../photos/hernandia.jpg);
}

.icaque {
  background-image: url(../photos/icaque.jpg);
}

.jacque {
  background-image: url(../photos/jacque.jpg);
}

.kiwi {
  background-image: url(../photos/kiwi.jpg);
}

.litchi {
  background-image: url(../photos/litchi.jpg);
}

.mangue {
  background-image: url(../photos/mangue.jpg);

}

.noix {
  background-image: url(../photos/noix.jpg);
}

.orange {
  background-image: url(../photos/orange.jpg);
}

.pamplemouse {
  background-image: url(../photos/pamplemouse.jpg);
}

.quetsche {
  background-image: url(../photos/quetsche.jpg);
}

.raisin {
  background-image: url(../photos/raisin.jpg);
}

.soja {
  background-image: url(../photos/soja.jpg);
}

.tomate {
  background-image: url(../photos/tomate.jpg);
}

.ugli {
  background-image: url(../photos/ugli.jpg);
}

.vanille {
  background-image: url(../photos/vanille.jpg);
}

.wasabi {
  background-image: url(../photos/wasabi.jpg);
}

.ximenia {
  background-image: url(../photos/ximenia.jpg);
}

.yuzu {
  background-image: url(../photos/yuzu.jpg);
}

.zatte {
  background-image: url(../photos/zatte.jpg);
}
/* Fin images de chaque lettre */

/* Début couleur des lettres survoles */
div[data-filter="fruit"]{
  color: var(--other-color);
  border-radius: 5px;
}

div:hover[data-filter="fruit"]{
  background: var(--fruit-color);
  color: var(--main-color);
}

div[data-filter="legume"]{
  color: var(--other-color);
  border-radius: 5px;
}

div:hover[data-filter="legume"]{
  background: var(--legume-color);
  color: var(--main-color);
}
/* Début couleur des lettres survoles */


/* Début filter */
a:focus[data-filter]{
  opacity:.8;
  outline:none;
}

a[data-filter="fruit"]:focus ~ #letter div:not([data-filter="fruit"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[value="fruit"]:checked ~ #letter div:not([data-filter="fruit"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

a[data-filter="legume"]:focus ~ #letter div:not([data-filter="legume"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
/* Fin filter */

/* début barre de progession */
#progress {
  padding: 0;
  position: fixed;
  z-index: 999999;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 2vh;
  transform-origin: 0 50%;
  transform: scaleX(0);
  background: var(--fruit-color);
}

@keyframes adjust-progressbar {
  0% {
  transform: scaleX(0);
  background: var(--fruit-color);
  }
  100% {
  transform: scaleX(1);
    background: var(--legume-color);
  }
}

@scroll-timeline progressbar-timeline {
  time-range: 1s;
}

#progress {
   animation-name: adjust-progressbar;
   animation-duration: 1s;
 }
/* fin barre de progession */

/* Début Footer*/

.footer {
  font-family: "Movement";
  padding: 20px;

  color: var(--other-color);
  display: flex;
  justify-content: center;
}

/* Défilement de droite à gauche */
.marquee-rtl {
  overflow: hidden; /* important */
  width:100%;
  height: auto;
}
.marquee-rtl > div {
  display: inline-block; /* important */
  white-space: nowrap; /* important */
  animation: defilement-rtl 10s infinite linear; /* défilement */
  cursor: pointer;
  padding: 10px 2em 10px 100%;
}
.marquee-rtl:hover > div {
  animation-play-state: paused; /* met en pause le défilement */
}

@keyframes defilement-rtl {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
}
/* Fin Footer*/

/* Debut page coktail*/

.header-container {
  color: var(--other-color);
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.header-lettre {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.titre {
  font-family: "Movement";
  font-size: var(--main-typo);
}

.titre a {
  font-family: "Movement";
  font-weight: lighter;
  text-decoration: none;
  color: var(--other-color);
  font-size: var(--main-typo);
}

.retour a, .suivant a {
  font-family: "Movement";
  font-weight: lighter;
  text-decoration: none;
  color: var(--other-color);
  font-size: 0.75rem;
}

.retour a:hover, .suivant a:hover {
  text-decoration: underline;
}

.body-container {
  color: var(--other-color);
  display: flex;
  justify-content: space-around;
  height: 80vh;
  /* width: 100% */
}

.body-lettre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100% */
}

.images-cocktail {
  margin-right: 50px;

  /* position: fixed; */
}

.images-cocktail img {

  height: 450px;
  /* position: fixed; */
}

.texte-cocktail{
  height: 70vh;
  overflow: scroll;
  width: 50vw;
}

.texte-cocktail h1 {
  font-family: "Movement";
  font-size: 3rem;
}


.texte-cocktail h2 {
  font-family: "Movement";
  font-size: 1.2rem;
  margin: 40px 0px 20px 0;
}

.texte-cocktail p {
  font-family: "Raleway";
  font-weight: lighter;
  font-size: var(--main-typo);
  line-height: 1.4rem;
}

ul {
  max-width: 350px;
  padding-left: 20px;
  list-style-type: disc;
}

ul li {
  font-family: "Raleway";
  font-size: var(--main-typo);
  line-height: 1.4rem;
  position: relative;
    margin: 0 0 0.5rem 0;
}


ol {
  max-width: 900px;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;

}

ol li {
  font-family: "Raleway";
  font-size: var(--main-typo);
  line-height: 1.4rem;
  margin: 0 0 2rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
}

ol li::before {
  font-family: "Movement";
  content: counter(my-awesome-counter);
  color: var(--other-color);
  font-size: var(--main-typo);
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 8px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  margin: 0 0 2rem 0;
}
/* Fin page coktail*/


/* Debut Loading page*/
#container_hero_loading{
  display: flex;
  flex-direction: column;
  height: 80vh;
}


.loading-titre1 {
  font-family: "Movement";
  text-align: center;
  color: var(--fruit-color);
  font-size: 1rem;
  padding-top: 4vw;
  padding-bottom: 2vw;
}

.loading-titre2 {
  font-family: "Movement";
  text-align: center;
  color: var(--other-color);
  font-size: 4rem;
  margin-bottom: 2vw;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}


.bouton-loading {
  font-family: "Movement";
  text-align: center;
  text-decoration: none;
  color: var(--main-color);
  font-size: 0.75rem;
  padding: 1vw;
  margin-bottom: 2vw;
  background-color: var(--fruit-color);
  border-radius: 50px;
  width: 10vw;
  height: auto;
}

.bouton-loading:hover {
  color: var(--main-color);
  text-decoration: underline;
  background-color: var(--legume-color);;
}

.bouton-loading a {
  text-decoration: none;
  color: var(--main-color);
}

.bouton-loading a:hover {
  text-decoration: none;
  color: var(--main-color);
}

.cercle {
  width: 150px;
  height: auto;
  margin-bottom: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-animation{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80VH;
}

svg:nth-child(1){
  animation: twinning-1 10s linear infinite;
}


@keyframes twinning-1 {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}


/* Fin Loading page*/
