@font-face {
font-family: "Movement";
font-style: normal;
font-weight: 400;
src: url('/font/Movement/Movement-DirectThin.woff');
}

body {
  background-color: #191818;
}
/* Début header */
.header h1 {
  font-family: "Movement";
  text-align: center;
  color: #ECFFB0;
  font-size: 0.75rem;
  padding-top: 2vw;
  padding-bottom: 1vw;
}

.header h2 {
  font-family: "Movement";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
  margin-bottom: 3vw;
}

.introduction p {
  font-family: "Movement";
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 3vw;
  line-height: 1.5rem;

}
/* Fin header */

/* Grid */
#letter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px ;
  grid-gap: 20px;
  clear : left;
  font-family: "Movement";
  margin: 0 auto;
  flex-basis: 1200px;
}

/* Début Filter */
main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (max-width: 640px){
  .filter_link{
    width: 20%;
  }
}

.filter_link {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "Movement";
  margin-bottom: 20px;
  flex-basis: 33vw;
  flex-shrink: 1;
  padding: 5px 0px;
}

.filter_link[data-filter="all"]{
  color: #191818;
  display: flex;
  justify-content: center;
}

.filter_link[data-filter="fruit"]{
  color: #191818;
  display: flex;
  justify-content: center;
}

.filter_link[data-filter="legume"]{
  color: #191818;
  display: flex;
  justify-content: center;
}

.filter_link[data-filter="all"] span {
    background-color: #ffffff;
    width: 10vw;
    display: block;
    border-radius: 50px;
}

.filter_link[data-filter="fruit"] span {
  background-color: #ECFFB0;
  width: 10vw;
  display: block;
  border-radius: 50px;
}

.filter_link[data-filter="legume"] span {
  background-color: #E5D0E3;
  width: 10vw;
  display: block;
  border-radius: 50px;
}
/* Filter */

/* Début design des blocs de lettres */
main div{
 text-align: center;
 padding: 5vw;
}

main h3{
font-weight: 700;
font-size: 5rem;
}

main p{
font-size: 0.75rem;
margin-top: 0.75vw;
}

#letter a {
  text-decoration: none;
  color: white
}

#letter a:hover {
  text-decoration: none;
  color: black
}

/* Fin design des blocs de lettres */

/* Début images de chaque lettre */
.avocat {
  background-image: url(../photos/avocat.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.banane {
  background-image: url(../photos/banane.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.concombre {
  background-image: url(../photos/concombre.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.datte {
  background-image: url(../photos/datte.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.epinard {
  background-image: url(../photos/epinard.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.fraise {
  background-image: url(../photos/fraise.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.grenade {
  background-image: url(../photos/grenade.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.hernandia {
  background-image: url(../photos/hernandia.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.icaque {
  background-image: url(../photos/icaque.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.jacque {
  background-image: url(../photos/jacque.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.kiwi {
  background-image: url(../photos/kiwi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.litchi {
  background-image: url(../photos/litchi.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.mangue {
  background-image: url(../photos/mangue.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.noix {
  background-image: url(../photos/noix.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.orange {
  background-image: url(../photos/orange.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.pamplemouse {
  background-image: url(../photos/pamplemouse.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.quetsche {
  background-image: url(../photos/quetsche.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.raisin {
  background-image: url(../photos/raisin.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.soja {
  background-image: url(../photos/soja.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.tomate {
  background-image: url(../photos/tomate.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.ugli {
  background-image: url(../photos/ugli.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.vanille {
  background-image: url(../photos/vanille.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.wasabi {
  background-image: url(../photos/wasabi.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.ximenia {
  background-image: url(../photos/ximenia.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.yuzu {
  background-image: url(../photos/yuzu.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.zatte {
  background-image: url(../photos/zatte.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}
/* Début images de chaque lettre */

/* Début couleur des lettres survoles */
div[data-filter="fruit"]{
  color:#ffffff;
  border-radius: 5px;
}

div:hover[data-filter="fruit"]{
  background: #ECFFB0;
  color: #191818;
}

div[data-filter="legume"]{
  color:#ffffff;
  border-radius: 5px;
}

div:hover[data-filter="legume"]{
  background: #E5D0E3;
  color: #191818;
}
/* Début couleur des lettres survoles */


/* Début filter */
a:focus[data-filter]{
  opacity:.8;
  outline:none;
}

a[data-filter="fruit"]:focus ~ #letter div:not([data-filter="fruit"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[value="fruit"]:checked ~ #letter div:not([data-filter="fruit"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

a[data-filter="legume"]:focus ~ #letter div:not([data-filter="legume"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
/* Fin filter */

/* début barre de progession */
#progress {
  padding: 0;
  position: fixed;
  z-index: 999999;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 2vh;
  transform-origin: 0 50%;
  transform: scaleX(0);
  background: #ECFFB0;
}

@keyframes adjust-progressbar {
  0% {
  transform: scaleX(0);
    background: #ECFFB0;
  }
  100% {
  transform: scaleX(1);
    background: #E5D0E3;
  }
}

@scroll-timeline progressbar-timeline {
  time-range: 1s;
}

#progress {
   animation-name: adjust-progressbar;
   animation-duration: 1s;
   animation-timeline : progressbar-timeline;
}
/* fin barre de progession */

/* Début Footer*/

.footer {
  font-family: "Raleway";
  padding: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
/* Fin Footer*/

/* Debut page coktail*/

.header-container {
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.header-lettre {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.titre {
  font-family: "Movement";
  font-size: 1rem;
}

.titre a {
  font-family: "Movement";
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.retour a, .suivant a {
  font-family: "Movement";
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-size: 0.75rem;
}

.retour a:hover, .suivant a:hover {
  text-decoration: underline;
}

.body-container {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  /* width: 100% */
}

.body-lettre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100% */
}

.images-cocktail {
  margin-right: 50px;
}

.texte-cocktail h1 {
  font-family: "Movement";
  font-weight: bold;
  font-size: 3rem;
}


.texte-cocktail h2 {
  font-family: "Movement";
  font-weight: bold;
  font-size: 1.2rem;
  margin: 40px 0px 20px 0;
}

.texte-cocktail p {
  font-family: "Raleway";
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.4rem;
}

ul {
  max-width: 350px;
  padding-left: 20px;
  list-style-type: disc;
}

ul li {
  font-family: "Raleway";
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.4rem;
  position: relative;
    margin: 0 0 0.5rem 0;
}


ol {
  max-width: 350px;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}

ol li {
  font-family: "Raleway";
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0 0 2rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
}

ol li::before {
  font-family: "Movement";
  font-weight: bold;
  content: counter(my-awesome-counter);
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  margin: 0 0 2rem 0;
}
/* Fin page coktail*/


/* Debut Loading page*/
.loading-titre1 {
  font-family: "Movement";
  text-align: center;
  color: #ECFFB0;
  font-size: 1rem;
  padding-top: 4vw;
  padding-bottom: 2vw;
}

.loading-titre2 {
  font-family: "Movement";
  text-align: center;
  color: #FFFFFF;
  font-size: 4rem;
  margin-bottom: 8vw;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bouton-container {
  display: flex;
  justify-content: center;
}

.bouton-loading {
  font-family: "Movement";
  text-align: center;
  text-decoration: none;
  color: #191818;
  font-size: 0.75rem;
  padding: 1vw;
  background-color: #ECFFB0;
  border-radius: 50px;
  width: 10vw;
  font-weight: 700;
}

.bouton-loading:hover {
  color: #191818;
  text-decoration: underline;
  background-color: #E5D0E3;
}

.animated-box{
  background-color:#4A4040;
  width: 1em;
  height: 1em;
  margin-bottom: 10vw;
  animation-duration: 3s;
  animation-name: appearIn;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
@keyframes appearIn{
  0% {
    transition: all 1s ease;
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.2) translateX(400px);
    border-radius: 300px;
    opacity: 1;
  }
  100% {
    transform: scale(1)translateX(800px) rotate(45deg);
    border-radius: 0%;

  }
}
/* Fin Loading page*/
